<div class="flex col xl-gap center middle view">
	<h1>
		<h1>GenreGuru - {{title}} - Level {{level}}</h1>
	</h1>

	<form action="/question" method="post">
		<div class="flex col gap">
			<h3>{{question}}</h3>

			<div class="">
				{{#each options}}
				<div class="option">
					<input type="radio" name="answer" id="{{option_id}}" value="A">
					<label for="{{option_id}}">{{answer}}</label>
				</div>
				{{/each}}
			</div>

			<button class="w-2 middle-self" onclick="">Submit Answer</button>
		</div>
	</form>


    <div id="trivia"></div>

</div>